# Copy this file to .env and fill secrets/urls
API_KEY=
UDATA_URI=
UDATA_URI_API_KEY=
REDIS_URL=redis://127.0.0.1:6379
# Examples
# API_KEY="your-jwt-token"
# UDATA_URI="https://udata.example.org/api/2"
